.zip-form{
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 1rem;
}

.zip-form form div {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
}

.error-msg{
    padding: 1.25rem;
    margin: 0 1rem;
}

.error-msg-red{
    background-color: rgb(231, 183, 183);
    
}